<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.coastline.bdats" version="0.0.95" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Cyber Attack</name>
    <description>
        Cyber Security themed College Entrance Exam Preparation app
    </description>
    <author email="dthompson@coastline.edu" href="http://phonegap.com">
        BDATS
    </author>
    <content src="index.html" />
    <access origin="*" />
	<preference name="orientation" value="landscape"/>
	<preference name="AllowInlineMediaPlayback" value="true"/>  
	
	<preference name="SplashScreenDelay" value="10000" />
	
	<platform name="android">
		<icon src="icon.png" />	
		<icon src="res/icon/android/icon-36-ldpi.png" qualifier="ldpi" />
		<icon src="res/icon/android/icon-48-mdpi.png" qualifier="mdpi" />
		<icon src="res/icon/android/icon-72-hdpi.png" qualifier="hdpi" />
		<icon src="res/icon/android/icon-96-xhdpi.png" qualifier="xhdpi" />
		
		<splash src="splash.png" />
		<splash src="res/splash/android/splash-ldpi.png" qualifier="land-ldpi" />
		<splash src="res/splash/android/splash-mdpi.png" qualifier="land-mdpi" />
		<splash src="res/splash/android/splash-hdpi.png" qualifier="land-hdpi" />
		<splash src="res/splash/android/splash-xhdpi.png" qualifier="land-xhdpi" />
		<splash src="res/splash/android/splash-xxhdpi.png" qualifier="land-xxhdpi" />
		<splash src="res/splash/android/splash-xxhdpi.png" qualifier="land-xxhdpi" />
	</platform>
</widget>
